[Desktop Entry]
Categories=Video;Music;GNOME;GTK
Comment=Scanline is a unoffficial native GTK4 / Adwaita client for Plex.
Exec=scanline %u
Icon=dev.skillless.Scanline
MimeType=x-scheme-handler/plex
Name=Scanline
Type=Application
Version=1.5
