[Desktop Entry]
Version=1.0
Type=Application
Name=Scanline
Comment=An unofficial native GTK4 / Adwaita client for Plex
Exec=scanline %u
Icon=dev.skillless.Scanline
Categories=AudioVideo;Video;GNOME;GTK;
Keywords=Plex;media;movies;tv-shows;streaming;video;
MimeType=x-scheme-handler/plex;
StartupNotify=true
