name: Main

on:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: main-${{ github.ref }}
  cancel-in-progress: false

jobs:
  flatpak-build:
    name: Flatpak Build (${{ matrix.target.arch }})
    runs-on: ${{ matrix.target.runner }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged
    strategy:
      matrix:
        target:
          - id: flatpak-x86_64
            arch: x86_64
            runner: ubuntu-24.04
          - id: flatpak-aarch64
            arch: aarch64
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Build
        uses: flatpak/flatpak-github-actions/flatpak-builder@92ae9851ad316786193b1fd3f40c4b51eb5cb101 # v6.6
        with:
          bundle: dev.skillless.Scanline.${{ matrix.target.arch }}.flatpak
          manifest-path: dev.skillless.Scanline.json
          arch: ${{ matrix.target.arch }}
          cache-key: flatpak-builder-${{ matrix.target.arch }}-${{ github.sha }}
